ion-content {
    --ion-background-color: var(--grey-color);
}

ion-item {
    --ion-item-text-color: var(--base-dark-color);
    --ion-item-border-color: var(--base-dark-color);
    --border-color: var(--base-dark-color);
}

.irrigation--status-icon {
    font-size: 5rem;
}

ion-item, .irrigation--status {
    font-size: 1.1rem;
}

.irrigation--status {
    color: var(--base-dark-color);
}

ion-card {
    --ion-item-background-color: transparent !important;
    box-shadow: none;
}