<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" class="text--white" icon="arrow-back" text="{{ 'BACK' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{i.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div text-center margin>
    <ion-icon margin-top class="irrigation--status-icon" name="ios-water" [ngClass]="{'irrigation--status-active' : i.status, 'irrigation--status-disabled' : !i.status}"></ion-icon>
    <p no-margin class="irrigation--status">
      <span *ngIf="i.status">{{ 'ACTIVED' | translate }}</span>
      <span *ngIf="!i.status">{{ 'DISABLED' | translate }}</span>
    </p>
  </div>

  <ion-list>
    <ion-item>
      <strong>{{ 'NAME' | translate}}: </strong> {{i.name}}
    </ion-item>
    <ion-item>
      <strong>{{ 'CITY' | translate}}: </strong> {{i.city}}
    </ion-item>
    <ion-item>
      <strong>{{ 'ADDRESS' | translate}}: </strong> {{i.address}}
    </ion-item>
    <ion-item>
      <strong>{{ 'ZIP_CODE' | translate}}: </strong> {{i.cep}}
    </ion-item>
  </ion-list>

  <ion-col margin-top size-xs="12">
    <ion-button (click)="updateStatus()" expand="block">
      <span *ngIf="i.status">{{ 'DISABLE' | translate }}</span>
      <span *ngIf="!i.status">{{ 'ACTIVE' | translate }}</span>
    </ion-button>
  </ion-col>

</ion-content>