// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-header {
    --ion-toolbar-background-color: var(--base-color); 
    --ion-toolbar-text-color: var(--white-color);
}

ion-content {
    --ion-background-color: var(--base-light-color);
    background: var(--base-light-color);
}

.color--dark {
    color: var(--ion-color-dark) !important;
}

ion-item {
    --ion-item-text-color: var(--white-color);
    --ion-item-border-color: var(--white-color);
    --border-color: var(--white-color);
}

ion-input {
    --placeholder-opacity: 1;
}

.irrigation--status-active {
    color: var(--ion-color-success);
}

.irrigation--status-disabled {
    color: var(--ion-color-warning);
}

.irrigation--bg-status-active {
    --background: var(--ion-color-success);
    --background-activated: var(--ion-color-success);
}

.irrigation--bg-status-disabled {
    --background: var(--ion-color-warning);
    --background-activated: var(--ion-color-warning);
}

.text--white {
    color: var(--white-color);
}

.border--white {
    border-color: var(--white-color);
    --border-color: var(--white-color);
}

.error-message {
    width: 100%;
    border-radius: 0.5rem;
    background: var(--ion-color-danger);
}