<ion-content padding>

  <div class="center" padding>

    <ion-grid>

      <ion-row justify-content-center>
        <ion-icon class="logo" name="water" padding-vertical></ion-icon>
      </ion-row>

      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <ion-row justify-content-center text-center>

          <ion-item padding-bottom>
            <ion-input required type="text" [(ngModel)]="user.username" name="username" #username="ngModel" placeholder="{{ 'USERNAME' | translate }}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input required type="password" [(ngModel)]="user.password" name="password" #password="ngModel" placeholder="{{ 'PASSWORD' | translate }}"></ion-input>
          </ion-item>

          <ion-col margin-top size-xs="12">
            <ion-button (click)="login(loginForm)" type="submit" class="login" expand="block">{{ 'LOGIN' | translate }}</ion-button>
          </ion-col>

          <ion-col size-xs="12">
            <ion-button (click)="openRegisterPage()" expand="block" class="border--white text--white" fill="outline">{{ 'REGISTER_BTN' | translate }}</ion-button>
          </ion-col>

        </ion-row>
      </form>

    </ion-grid>

  </div>

</ion-content>