<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'SETTINGS' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p text-center>
    <ion-icon name="contact"></ion-icon>
  </p>
  <ion-list>
    <ion-list-header>
      {{ 'USER_INFO' | translate }}
    </ion-list-header>
    <ion-item>
      {{user.name}} ({{user.username}})
    </ion-item>
    <ion-item>
      {{user.mail}}
    </ion-item>
    <ion-item>
      {{ 'CITY' | translate }}: {{user.city.nome}} {{(user.city.uf) ? ' - ' + user.city.uf : '' }} ({{user.city.id}})
    </ion-item>
  </ion-list>

  <ion-button margin-horizontal (click)="logout()" color="danger" expand="full">{{ 'LOGOUT' | translate }}</ion-button>
</ion-content>