<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'ADD_WATERING' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <form #addIrrigationForm="ngForm" (ngSubmit)="register(addIrrigationForm)">
        <ion-row justify-content-center text-center>
    
          <div class="error-message text--white" padding margin-bottom text-start *ngIf="addIrrigationForm.submitted && !addIrrigationForm.valid && enableValidate">
            <span *ngIf="!addIrrigationForm.controls.name.valid">{{'NAME' | translate}}</span>
            <span *ngIf="!addIrrigationForm.controls.city.valid && addIrrigationForm.controls.name.valid">{{'CITY' | translate}}</span>
            {{'INVALID_FIELD_MSG_COMP' | translate}}
          </div>
    
          <ion-item padding-bottom>
            <ion-input required type="text" [(ngModel)]="irrigation.name" name="name" #name="ngModel" placeholder="{{ 'NAME' | translate }} (*)"></ion-input>
          </ion-item>
    
          <ion-item padding-bottom>
            <ion-input type="text" [(ngModel)]="irrigation.address" name="address" #username="ngModel" placeholder="{{ 'ADDRESS' | translate }}"></ion-input>
          </ion-item>
    
          <ion-item padding-bottom>
            <ion-input type="text" [(ngModel)]="irrigation.cep" name="cep" #mail="ngModel" placeholder="{{ 'ZIP_CODE' | translate }}"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-input required type="number" [(ngModel)]="irrigation.city" name="city" #city="ngModel" placeholder="{{ 'CITY' | translate }} (*)"></ion-input>
          </ion-item>
    
          <ion-col margin-top size-xs="12">
            <ion-button color="success" type="submit" expand="block">{{ 'REGISTER_BTN' | translate }}</ion-button>
          </ion-col>
    
        </ion-row>
      </form>

</ion-content>
