ion-button {
    --background-focused: var(--base-light-color);
    --background-activated: var(--base-light-color);
    --background: var(--base-dark-color);
}

ion-item {
    width: 100%;
}

ionic-selectable {
    color: var(--white-color);
    --ion-color: var(--white-color);
    --icon-color: var(--white-color);
}

ion-label {
    color: var(--white-color);
}

.ionic-selectable {
    width: 100%;
    max-width: 100%;
}