<ion-card class="weather" [ngClass]="{'irrigation': transparent}" *ngIf="weather">
  <ion-grid>
    <ion-row justify-content-start>
      <ion-col class="weather--image" size="4" align-self-center>
        <img padding-top padding-horizontal src="/assets/weather/{{weather.previsao[0].tempo}}.png">
      </ion-col>
      <ion-col class="weather--temperatura" size="8" align-self-center text-end>
        <div padding-top padding-horizontal>
          {{weather.previsao[0].minima}}° - <span class="max">{{weather.previsao[0].maxima}}°</span><br>
          <span class="label">{{ 'TEMPERATURE' | translate }}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card-header>
    <ion-card-title text-center>{{weather.nome}} - {{weather.uf}}</ion-card-title>
  </ion-card-header>
</ion-card>