ion-card {
    --ion-item-background-color: var(--white-color);
    margin-top: 15px;
}

ion-card.irrigation {
    --ion-item-background-color: transparent;
    box-shadow: none;
}

.weather {
    img {
        width: 25vw;
    }
    &--temperatura {
        font-size: 1.2rem;
        .max {
            font-size: 2rem;
        }
        .label {
            font-size: 0.8rem;
        }
    }
}