ion-tabs {
    --ion-tabbar-background-color: var(--base-color);    
    --ion-tabbar-text-color: var(--base-light-color);
    // --color-selected: #FFF !important;
    --ion-color-primary: var(--white-color);
}
